<div class="modal-dialog modal-lg full-height-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Sửa thông tin hóa đơn</h4>
    </div>
    <form class="form-horizontal utehy-form">
      <div class="modal-body no-padding">
        <div class="form-group">
          <label class="col-sm-2 control-label no-padding-right"> Học sinh(<span style="color: red;">*</span>)</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Họ tên" formControlName="name"/>
          </div>
          <label class="col-sm-2 control-label no-padding-right"> SĐT(<span style="color: red;">*</span>)</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Họ tên" formControlName="name"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label no-padding-right"> Email(<span style="color: red;">*</span>)</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Họ tên" formControlName="name"/>
          </div>
          <label class="col-sm-2 control-label no-padding-right"> Trạng thái(<span style="color: red;">*</span>)</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Họ tên" formControlName="name"/>

          </div>
        </div>

        

        <div class="form-group">
          <label class="col-sm-2 control-label no-padding-right"> Nhân viên TV(<span style="color: red;">*</span>)</label>
          <div class="col-sm-4">
            <!-- <p-dropdown [options]="lstRecordStatus" formControlName="status" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown> -->
          </div>
          <label class="col-sm-3 control-label no-padding-right"> Ngày liên hệ gần nhất(<span style="color: red;">*</span>)</label>
          <div class="col-sm-3">
            <!-- <p-calendar formControlName="submitDate" [dateFormat]="dateFormat"  [locale]="locale_vn" [showIcon]="true" inputId="icon"></p-calendar> -->
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6"></div>
          <label class="col-sm-3 control-label no-padding-right"> Ngày liên hệ tiếp theo(<span style="color: red;">*</span>)</label>
          <div class="col-sm-3">
            <!-- <p-calendar formControlName="submitDate" [dateFormat]="dateFormat"  [locale]="locale_vn" [showIcon]="true" inputId="icon"></p-calendar> -->
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label no-padding-right"> Nội dung(<span style="color: red;">*</span>)</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Họ tên" formControlName="name"/>
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success btn-sm btn-submit">
        <i class="fa fa-save"></i> Đồng ý
      </button>
      <button type="button" class="btn btn-default btn-sm">
        <i class="fa fa-times"></i> Đóng lại
      </button>
    </div>
  </form>  
  </div>
</div>