<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red center">Ace</span>
                            <!-- <span class="white" id="id-text2">Application</span> -->
                        </h1>
                        <h4 class="fullName blue" id="id-company-text">{{user.fullName}}</h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        

                        <div id="forgot-box" class="forgot-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main" >
                                    <form (submit)="onSubmit()" [formGroup]="loginForm">
                                        <h4 class="header red lighter bigger">
                                            <!-- <i class="ace-icon fa fa-key"></i>
                                            Retrieve Password -->
                                            <input type="text" class="form-control" disabled formControlName="userName" />
                                        </h4>
    
                                        <div class="space-6"></div>
                                        <p>
                                            Để tiếp tục, trước tiên, hãy xác minh danh tính của bạn
                                        </p>
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" class="form-control" formControlName="password" placeholder="Nhập mật khẩu của bạn"/>
                                                    <!-- <i class="ace-icon fa fa-envelope"></i> -->
                                                </span>
                                            </label>

                                            
                                        </fieldset>
                                        <div class="clearfix" >
                                            <label class="inline">
                                                <a href="#" class="lbl"> Bạn quên mật khẩu?</a>
                                            </label>
                                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                <i class="ace-icon fa fa-key"></i>
                                                <span class="bigger-110">Tiếp tục</span>
                                            </button>
                                        </div>
                                    </form>
                                    
                                </div><!-- /.widget-main -->
                                
                                <!-- <div class="toolbar center">
                                    <a href="#" data-target="#login-box" class="back-to-login-link">
                                        Tiếp theo
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </div> -->
                            </div><!-- /.widget-body -->
                        </div><!-- /.forgot-box -->

                        
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
